*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
     background-color: azure;
}

.login-page{
    background: rgb(54, 50, 66);
    height: 100vh;
    width:100%;
    overflow: hidden;
    background-position: center;
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form{
    height: 75%;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 32, 44);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.login-1{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center; 
    position: relative;
    padding-left: 120px;

}

.teacher-login-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    align-self: flex-start;
}

.teacher-login-qoute{
    font-family:'Inter', 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    align-self: flex-start;
}

.teacher-login-para{
    align-self: flex-start;
    color: rgb(187, 184, 198);
    font-family: "inter", "Poppins", sans-serif;
    font-size: 0.55rem;
}

.std-login-para a{
    color: rgb(131, 94, 234);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.input-fuild{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(45, 42, 56);
    color: white;
    align-self: start;
}

.input-fuild::placeholder{
    color: gray;
}
.toggle-password img{
    filter: invert(1);
    width: 20px;
    height: 20px;
}

.password{
    border: none;
    background-color: rgb(45, 42, 56);
    color: white;
    align-items: flex-start;
    width: 210px;
}

.password-field{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 220px;
}


.password-field input{
    background: rgb(45, 42, 56);
}

.toggle-password{
    cursor: pointer;
    position: relative;
    right: 38px;
    font-size: 0.9rem;
    user-select: none;
    height: 0px;
    width: 0px;
}

.icon{
    position: relative;
    left: 12px;
    bottom: 9px;
}

.forgot-password{
    font-family: 'Inter', 'Poppins', sans-serif;
    font-size: 0.55rem;
    color: rgba(131, 94, 234, 0.491);
    align-self: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: underline;
}

.login-btn{
    width: 220px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(131, 94, 234);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.google{
    width: 220px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
    position: relative;
}

.google img{
    width: 15px;
    height: 20px;
    position: relative;
    top: 4px;
    right: 5px;
}

/* adding responsive ness to page */

@media (min-width: 500px) and (max-width: 768px){
    .login-form{
        width: 470px;
        height: 60%;
    } 

    .login-1{
        padding: 0px 0px 0px 90px;
    }

    .input-fuild{
        width: 230px;
    }

    .password{
        width: 240px;
    }

    .password-field{
        width: 250px;
    } 

    .login-btn{
        width: 250px;
    }

    .google{
        width: 250px;
    }
}

@media (min-width: 400px) and (max-width: 499px){
    .login-form{
        width: 360px;
        height: 60%;
    }

    .login-1{
        padding: 0px 0px 0px 60px;
    }

    .input-fuild{
        width: 180px;
    }

    .password{
        width: 180px;
    }

    .password-field{
        width: 200px;
    }   

    .icon{
        right: 20px;
        bottom: 10px;
    }

    .login-btn{
        width: 202px;
    }

    .google{
        width: 202px;
    }

}

@media (min-width: 310px) and (max-width: 399px){
    .login-form{
        width: 270px;
        height: 60%;
    }

    .login-1{
        padding: 0px 0px 0px 15px;
    }

    .std-login-qoute{
        font-size: 1.3rem;
    }

    .std-login-para{
        font-size: 0.5rem;
    }

    .input-fuild{
        width: 160px;
    }

    .password{
        width: 160px;
    }

    .password-field{
        width: 180px;
    }   

    .login-btn{
        width: 180px;
    }

    .google{
        width: 180px;
    }
}

@media (max-width: 310px){
    .login-1{
        padding-left: 5px;
    }

    .input-fuild{
        width: 160px;
    }

    .password{
        width: 160px;
    }

    .password-field{
        width: 180px;
    } 

    .login-btn{
        width: 170px;
    }

    .google{
        width: 170px;
    }
}